{{> navbar}}
<br/>

<h1>Formulario de carga</h1>
        <div>
            <form method="post" action="/products/">
                <input type="text" name="name" id="name"/>
                <input type="text" name="name" id="name"/>
                <input type="text" name="name" id="name"/>



                <input type="submit">
            </form>
        </div>


<br/>
{{> footer}}
<br/>