{{> navbar}}
<br/>

    
<h1>Formulario de carga</h1>
        <div id="formulario">
            <form action="/products" method="POST">
                <input type="text" placeholder="nombre" name="name" id="name"/>
                <input type="text" placeholder="precio" name="price" id="price"/>
                <input type="text" placeholder="imagen" name="thumbnail" id="thumbnail"/>



                <input type="submit" value="cargar"/>
            </form>
        </div>
        <button id="productos" onclick="window.location.href='http://localhost:8080/products';" >Ver Productos</button>


<br/>
{{> footer}}
<br/>